body{
	margin: 0;
}
#div1{
	background-color: #bad413;
	height: 100px;
}
img{
	height: 250px;
}
.div2{
	display: inline-block;
	width: 200px;
}
.div2:nth-child(1){
	height: 150px;
	background-color: #d60f23;
}
.div2:nth-child(2){
	height: 250px;
	background-color: rgb(64, 204, 29);
}
.div2:nth-child(3){
	height: 350px;
	background-color: rgba(29, 204, 111, 0.95);
}